#page-top{
    padding-top:5px;
}

#tools {
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left:-1px;
   
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
      margin-right:19px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#707B82

}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #707B82;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background: #1E6002;
}

a {
    color: #1E6002;
    text-decoration: none;
}

#tools .col-lg-3.col-md-3.col-sm-6.text-center:hover:hover .btn.btn-lg.btn-icon {
    background-color: #1E6002;
    color: #FFF;
    border-color: transparent;
    transition-duration: 0.5s;
}

#tools .col-lg-3.col-md-3.col-sm-6.text-center:hover:hover .icon-heading {
    color: #1E6002; 
}


.panel-success {
    border-color: #1E6002; 
}

.btn-primary {
    color: #FFF;
    background-color: #1E6002; 
    border-color: #1E6002; 
}
.panel-heading.active {
    background-color: #1E6002;
    color: #FFF;
}

.panel-success > .panel-heading {
    color: #FFF;
    background-color: #1E6002;
    border-color: #1E6002;
}
.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    color: #fff;
}

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #1E6002;
}