@{
    ViewBag.Title = "About Us";

}


<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">The Company - NLPC PFA LTD</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p>NLPC PFA is the home of tested, trusted and effective pension fund administration in Nigeria. Though, we are a company licensed primarily to administer pension and pay retirement benefits in accordance with the Pension Reform Act 2014, but what we provide is more than pension. We delight our clients and create hope for better and brighter tomorrow. We work our vision and live our mission because they revolve around you.</p>
            <p style="padding-top:15px">NLPC Pension Fund Administrators Limited (NLPC PFA) was incorporated on January 19, 2005 and licensed by National Pension Commission on January 25, 2006 to administer pension funds in line with the Provisions of the Pension Reform Act 2014. NLPC PFA has offices across the nation and our Shareholders Fund is above the minimum (N1 billion un-impaired capital) required in the industry. Corporate interest accounts for 59% ownership, while private individual investors retained the balance (41%). Our core corporate investors are:</p>
            <p style="padding-top:15px"><a href="http://nlpc-ng.com/" target="_blank">Nigerian Life & Provident Company Ltd</a> - the pioneer and foremost pension consultants in the country.</p>
            <p style="padding-top:10px"><a href="http://www.hoggnigeria.com/" target="_blank">Hogg Robinson Nigeria Ltd</a> - the best and leading insurance broking firm in Nigeria.</p>
            <p style="padding-top:10px"><a href="http://nndcgroup.com/" target="_blank">New Nigeria Development Co. Ltd (NNDC)</a> - Investment Company owned by the 19 Northern State governments in Nigeria.</p>
            <p style="padding-top:15px">NLPC PFA is a brand synonymous with pension administration because of decades of pension experience and fund management acquired through our associate Company – Nigeria Life and Provident Company (NLPC). The Company - NLPC PFA is backed with seasoned professionals and up-to-date information technology that delivers effective and efficient services at all times. Based on our integrity, experience and expertise; we invite you to join us so that your future can benefit from our tested expertise and immense experience, thus, creating a brighter future for you at retirement !</p>
        </div>
    </div>
</div>
