@{
    ViewBag.Title = "benadmin";
   
}




<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Benefits Administration</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p>One of the cardinal objectives of the Contributory Pension Scheme (CPS) is the payment of retirement benefit as and when due. At NLPC PFA, our GOAL is to ensure that all our clients (CPS, GS and DBS) are paid not later than one month after receiving the required documentations and full remittance of their Accrued and Outstanding Contributions. Under the CPS, retirement benefit can be categorized as follows:</p>
            <div class="leftbox">
                <div align="left" style="margin: 30px 0 15px 0;">
                    <div align="left" style="margin: 0 0 20px 0;">
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="4">Temporary Loss of Employment Benefit</span></div>
                        <div class="boddetails" id="bod-4" style="display: block;height:290px">
                            <p>Where an employee lost his/her job (termination, disengagement, redundancy or liquidation of company but not resignation) before attaining age 50 and could not secure another employment six (6) months after, such employee may apply for payment of 25% of RSA balance. The following are the required documents:</p>
                            <ul class="inTextList">
                                <li>A letter addressed to our MD/CEO requesting for payment of 25% of RSA Balance</li>
                                <li>Copy of letter of disengagement or Company Closure</li>
                                <li>Copy of birth certificate or age declaration</li>
                                <li>Photocopy of Cheque leaf or Savings Withdrawal Passbook</li>
                                <li>Duly completed NLPC PFA Personal Data Update Form and Bank Account Form</li>
                            </ul>
                            <p>Please note that a letter would be forwarded to your employer (except for company closure) to confirm the total contributions remitted for the claimant and other employment records. Upon receiving complete documentations and approval obtained from the National Pension Commission, we would credit the personal bank account of the RSA holder accordingly.</p>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="1">Payment of Pre-Act Benefit</span></div>
                        <div class="boddetails" id="bod-1" style="display: none;height:410px">
                            <p><strong>Legacy:</strong> This is the existing pension benefit before the commencement of the CPS transferred into the RSAs of the contributors. Upon retirement or leaving such employment, the employee may apply for payment of the Legacy.</p>
                            <p style="margin-top:15px"><strong>NPF/NSITF Contributions:</strong> This is the pension contributions for employees in the private sector under the defunct National Provident Fund (NPF) and Nigeria Social Insurance Trust Fund (NSITF). A retiree may apply for the payment of his/her NPF/NSITF contributions where transfer takes place after payment of full benefit or commencement of monthly pension. For active employee, it will form part of the total consolidated benefit at retirement. The required documents for Pre-Act benefits are:</p>
                            <ul class="inTextList">
                                <li>A letter addressed to our MD/CEO requesting for payment of Legacy or NPF/NSITF (as the case may be)</li>
                                <li>Copy of disengagement letter from the client</li>
                                <li>A copy of birth certificate or age declaration</li>
                                <li>Bankers Confirmation of Account Details or photocopy of Cheque Leaf or Savings Withdrawal Passbook</li>
                                <li>Duly completed NLPC PFA Personal Data Update Form and Bank Account Form</li>
                            </ul>
                            <p>Please note that for legacy withdrawal, a letter would be forwarded to your employer (except for company closure) to confirm the total legacy amount remitted for the claimant and other employment records. Upon receiving complete documentations,approval is obtained from National Pension Commission, there after the personal bank account of the client is credited.</p>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="2">Voluntary or Statutory Retirement Benefit</span></div>
                        <div class="boddetails" id="bod-2" style="display: none;height:770px">
                            <p>At retirement (voluntary, normal or according to the terms and condition of service), an account (RSA) holder will collect full retirement benefits provided he/she has attained the minimum age of 50 and the total amount available in his/her RSA is not more than N550,000.00. In this case, the retiree gets En-bloc (One Off) benefit payment – Lump sum cash only without monthly pension.</p>
                            <p style="margin-top:15px">On the other hand, where an RSA holder retires either due to voluntary or normal retirement at age 50 or above and with the RSA balance which is more than N550, 000.00; then, such a retiree will be entitled to lump-sum cash and monthly pension. The lump sum amount payable would be determined after securing the monthly pension (which should not be less that 50% of his/her last salary subject to the RSA balance) to be paid over a period or for life based on the retiree’s life expectancy using the template provided by the National Pension Commission to all PFAs or mortality table from the Life Insurance Company. In addition, monthly pension can only be accessed by way of Programmed Withdrawal Retirement Option (PFA Based) or Annuity Option (Life Insurance Company Based). The documents required are:</p>
                            <ul class="inTextList">
                                <li>A letter addressed to our MD/CEO requesting for payment of retirement benefit</li>
                                <li>Copy of notification of disengagement / resignation / retirement letter if initiated by the client</li>
                                <li>Copy of acceptance letter of disengagement / resignation / retirement by employer.</li>
                                <li>Copy of letter of disengagement by employer, if disengagement is at the instance of the employer</li>
                                <li>A document confirming that the disengagement is in accordance with the terms and conditions of employment (if by retirement or contract)</li>
                                <li>FGN Bond registration slip – [for public sector retiree]</li>
                                <li>A recent pay slip (which must be within the last three months of disengagement) or evidence of total emolument (signed and stamped by the Head of Account of the last employer).</li>
                                <li>A copy of the birth certificate or age declaration.</li>
                                <li>A copy of Bankers Confirmation of Account Details or photocopy of Cheque Leaf or Savings Withdrawal Passbook</li>
                                <li>Clearance letter (Lagos State Retiree Only)</li>
                                <li>Duly completed NLPC PFA forms (Notice of Retirement Form, Bank Account Form, Pensioners’ Life Certificate Form, Retiree’s Indemnity Form and Programmed Withdrawal Agreement (PWA)- 2 copies ( PWA not required for En-bloc payment and Annuity).</li>
                            </ul>
                            <p>Please note that a letter would be forwarded to your employer to confirm the total contributions remitted for the claimant (Private sector only). After complete documentations and full remittance of Accrued and Outstanding Contributions, the Programmed Withdrawal Computation Schedule would be prepared for Exit Discussion of amount payable as lump sum and monthly pension. Upon acceptance of amount payable, and approval from the National Pension Commission, we would credit the personal bank account of the RSA holder accordingly.</p>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="3">Retirement Benefit on Health Ground</span></div>
                        <div class="boddetails" id="bod-3" style="display: none;height:570px">
                            <p>The Pension Act allows payment of benefit on health ground where a person retires due to ill health or disability whether physically, mentally, temporarily or permanently. The employer and a qualified medical doctor or medical board must confirm ill health or `disability and that the person is no longer fit to work. Benefit may be En-bloc (One Off) or Lump-sum plus monthly pension depending on the amount in the RSA at the date of retirement. The required documents are:</p>
                            <ul class="inTextList">
                                <li>A letter addressed to our MD/CEO requesting for payment by the retiree on health ground</li>
                                <li>Certified True Copy of medical certificate issued by a medical doctor or medical board confirming the health status of the employee</li>
                                <li>A letter from the employer confirming the health and retirement of the employee on basis of ill health and disability</li>
                                <li>FGN Bond registration slip – [for public sector retiree]</li>
                                <li>A recent pay slip (which must be within the last three months of disengagement) or evidence of total emolument (signed and stamped by the by the Head of Account) of the last employer.</li>
                                <li>A copy of the birth certificate or age declaration.</li>
                                <li>A copy of Bankers Confirmation of Account Details or photocopy of Cheque Leaf or Savings Withdrawal Passbook</li>
                                <li>A grant of special guardian issued by the High Court of Justice where the RSA holder is incapacitated and not able to run a bank account</li>
                                <li>Duly completed NLPC PFA forms (Notice of Retirement Form, Bank Account Form, Pensioners’ Life Certificate Form, Retiree’s Indemnity Form and Programmed Withdrawal Agreement (PWA) - 2 copies ( PWA not required for En-bloc payment and Annuity)</li>
                            </ul>
                            <p>Please note that a letter would be forwarded to your employer to confirm the total contributions remitted for the claimant (Private sector only). After complete documentations and full remittance of Accrued and Outstanding Contributions, the Programmed Withdrawal Computation Schedule would be prepared for Exit Discussion of amount payable as lump sum and monthly pension. Upon acceptance of amount payable, and approval from the National Pension Commission, we would credit the personal bank account of the RSA holder accordingly.</p>
                        </div>

                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="5">Missing Person / Death Benefit</span></div>
                        <div class="boddetails" id="bod-5" style="display: none;height:640px">
                            <p>A person is presumed dead if not found in one year from the date of disappearance. Only the beneficiary (not necessarily the Next of Kin) shall be entitled to all the benefits of a deceased employee or retiree. The beneficiary is the person(s) mentioned in a Will admitted to probate or person(s) who obtained Letter of Administration from the probate registry to administer the estate of a person who dies without a Will. The total benefits payable for active employee where death occurs or presumed shall be: Accrued Rights, Total Pension Contributions and benefits procured from compulsory Group Life Assurance Scheme (GLAS) purchased by the employer. The Pension Reform Act requires that proceeds from the GLAS be transferred first into the deceased RSA before payment to the beneficiary.</p>
                            <p style="margin-top:15px">In the event of death of a retiree on programmed withdrawal option, the beneficiary(ies) shall be entitled to all the available balance (if any) with earned interest in the RSA as at the date of payment. For a retiree on annuity option, it depends on whether death occurs during or after the guaranteed period. The beneficiary(ies) will not be entitled to any benefit if death occurs after the guaranteed period. Find below the required documents for payment of death benefit:</p>
                            <ul class="inTextList">
                                <li>Will or letter of Administration admitted to probate</li>
                                <li>Medical Certificate of Death / Cause of Death</li>
                                <li>Certificate of Registration of Death</li>
                                <li>Police Report (if death is as a result of accident)</li>
                                <li>Burial Warrant issued by a Local Government Council</li>
                                <li>Evidence of Death / Burial issued by an Islamic Community Head, Judge of a Sharia Court</li>
                                <li>Evidence of Death / Burial issued by a Leader of a registered Church</li>
                                <li>Copy of Obituary poster (if any)</li>
                                <li>Where the Executor / Administrator differs from the Next-of-Kin, we shall after confirmation of the letter of Administration or will admitted to probate, update its database with information on the confirmed Executor/Administrator.</li>
                                <li>Duly completed original copy of NLPC PFA (Dead/Missing Person Form, Personal Data Update Form and Bank Account Form)</li>
                            </ul>
                            <p>Please note that a letter would be forwarded to the deceased employer to confirm the total contributions, accrued benefit and to transfer the benefit from group life into the RSA of the deceased employee. Upon receiving complete documentations and approval from the National Pension Commission, we would credit the personal bank account of the beneficiary(ies) accordingly.</p>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="6">Payment Options</span></div>
                        <div class="boddetails" id="bod-6" style="display: none;height:340px">
                            <p><strong>1. Programmed Withdrawal Retirement Option (PWRO)</strong></p>
                            <p>Under the PWRO, the Pension Fund Administrator (PFA) manages the retiree’s fund and will be responsible for the payment of the Lump Sum Cash (Gratuity) and subsequent monthly pension to the retiree. Retirement benefits are calculated on the basis of an expected life span (based on a template provided by Pencom to all PFAs). Monthly/Quarterly pension is payable over the programmed period which may not be less than 20 years with high possibility of a residual that can be re-programmed . Factors such as RSA Balance, Age, Sex, and Salary etc, at retirement determine what a person receives as Lump Sum Cash and monthly pension.</p>
                            <p style="margin-top:20px"><strong>2. Annuity Retirement Option (ARO) – Life Insurance</strong></p>
                            <p>Under the ARO, the PFA pays the Lump Sum Cash Benefit while RSA balance is transferred to the insurance company for payment of subsequent monthly/quarterly pension to be calculated on the basis of an expected life span using a mortality table and usually payable for a minimum guarantee period of 10 years and thereafter for life. The Life Insurance Company bears longevity risk. To enable an RSA holder obtain Annuity quote from Life Insurance Company, the PFA shall provide: Currents RSA balance; Projected RSA balance to the date of retirement based on monthly contributions; Date of Birth; Date of Retirement; Gender of the Retiree; Certified true copy of retiree’s last pay slip; and Other relevant documentation. E.g Passport Photograph contact address etc.</p>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="8">Requirements for Bond Registration (For Public Sector - Federal)</span></div>
                        <div class="boddetails" id="bod-8" style="display: none;height:130px">
                            <p>The following documents are required for Bond Registration</p>
                            <ul class="inTextList">
                                <li>Letter of first appointment</li>
                                <li>Birth certificate or declaration of age</li>
                                <li>Evidence of Grade Level / Step and pay slip as at 30th June, 2004 and as at current date</li>
                                <li>Evidence of registration with PFA (Our Confirmation of Opening of Retirement Savings Account)</li>
                                <li>Letter from MDA summarizing items 1-3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

