


<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Our Business Strategy</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p style="text-align: justify">Our strategy revolves around you. We adhere strictly to the Act, guidelines and regulations as issued by the National Pension Commission. By doing this, we guarantee the safety of your fund and generate appreciable returns on your investment. Keeping with our article of faith - creating a brighter future for you at retirement, also requires that we pay your retirement benefit as and when due.</p>
            <p style="margin-top: 20px"><strong>Reasons to choose NLPC PFA</strong></p>
            <ul class="inTextList">
                <li>Enduring Core Values: Integrity, Experience and Expertise</li>
                <li>Exceptional customer service delivery</li>
                <li>Reliable Board and Management Team supported by highly motivated and determined workforce nationwide ready and willing to serve you best</li>
                <li>Robust risk management system and up-to-date information technology that guarantees the safety of your data and fund.</li>
                <li>Our returns on investment rank among the best in the industry and we have remained consistent over the years.</li>
                <li>Finally, we promise to create a brighter future for you at retirement no matter what it takes – this is the hallmark of our relationship with you.</li>
            </ul>
        </div>
    </div>
</div>


@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


