@*@{
        ViewBag.Title = "board";
        Layout = "~/Views/Shared/_Layout.web.others.cshtml";
    }

    @section head{
        <link href="@Styles.Url("~/Content/plugins/tabbedpannels")" rel="stylesheet" />
    }


    @section links{
        <li class="list-group-item">
            <a href="mgtteam">Management Team</a>
        </li>
    }
*@

<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Board of Directors</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p>Members of the Board of our Company - NLPC PFA are technocrats, seasoned professionals and highly respected individuals with integrity and enviable track record in their respective and chosen career. Please meet our Board …</p>
          
            <div class="row">
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/board/bode_emanuel.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Bode Emanuel is a fellow of the Institute of Chartered Accountants - England and Wales. He has an extensive career in management consultancy having played significant roles in key government projects.</p>
                    <p>He is chairman of several leading Nigerian companies amongst which are Hogg Robinson Nigeria Limited the leading and the largest Insurance Broker in West Africa in terms of business and size and also, Nigeria Life and Provident Company Limited &ndash; a leading life and general insurance consultancy firm with over 47 years of experience.</p>
                    <p>Mr. Emanuel is a member of many notable charities and societies. He currently sits on the board of Governors of Musical Society of Nigeria (MUSON).</p>
                </div>
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/Board/Wale_Kolawole.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Wale Kolawole has been the Managing Director of NLPC Pension Fund Administrators Limited from inception. He is an Associate of the Chartered Insurance Institute of London. Mr. Kolawole holds a Masters degree in Business Administration specialising in financial management.</p>
<p>He has over 27 years experience in the pension industry and is highly versed in pension schemes, administration and investment. He has presented papers on Pensions and related benefits at different forums in Nigeria, South Africa and United Kingdom. Married with children, Mr. Kolawole enjoys reading and travelling.</p>
                </div>
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/Board/Bunmi_Oyeleye.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Bunmi Oyeleye was the Executive Director – Technical Operations of Nigeria Reinsurance Corporation, a major voice in the Nigerian insurance industry with specialisation on acceptance of risks from insurance companies in Nigeria and abroad. She has broad knowledge of Nigerian Insurance and Pension Industry having served as a policy maker in a number of government establishments, amongst which was the formation of draft documents of Insurance Decree of 1976, 1991 and 1993.</p>
                    <p>Mrs. Oyeleye is an associate of Chartered Insurance Institute of London and holds a Post Graduate Certificate in Management Studies of University of Manchester, United Kingdom. She is married with children.</p>
                </div>
            </div><br/>
            <!-- ROW 2-->
            <div class="row">
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/Board/Samuel_Balogun.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Samuel Balogun has over 20 years experience covering pension funds,insurance, investment management, finance and business strategy. He joined NLPC PFA in March 2006 as General Manager (Finance & Investment), and later rose to the position of an Executive Director in 2010.</p>
                    <p>Prior to joining NLPC PFA, he worked as a General Manager with Intercontinental Asset Management Ltd (now Intercontinental Capital Market Limited), where he was responsible for funds/portfolio management. He also worked with Skye Trustees Limited as Head of Asset Management, where he pioneered the company’s pension funds and asset management operations. Earlier in his career, he worked with Crusader Insurance (Nigeria) Plc and Industrial & General Insurance Plc where he was responsible for actuarial services, life insurance and pension administration.</p>
                    <p>He holds a B.Sc. (Hons) degree in Actuarial Science and M.Sc. degree in Management from University of Lagos, Nigeria. He is a Fellow of the Institute of Chartered Accountants of Nigeria, a Chartered Insurance Practitioner, and an Associate of the Chartered Institute of Taxation of Nigeria.</p>
                </div>
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/board/adeyeye.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Amos Adeyeye is currently the Deputy Chairman of Hogg Robinson Nigeria Limited, the largest firm of Insurance Brokers in Nigeria and West Africa.</p>
                    <p>He is also a director in leading Nigerian companies such as:</p>
                    <ul>- Nigerian Life and Provident Company Limited;</ul>
                    <ul>- Sterling Assurance Nigeria Limited; and</ul>
                    <ul>- Medexia Limited.</ul>
                    <p>Mr. Adeyeye is a fellow of the Chartered Insurance Institute of Nigeria and London.</p>
                </div>
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/board/eleoramo.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Toyin Eleoramo is the Managing Director of Nigerian Life and Provident Company Limited. He was the Managing Director/Chief Executive Officer of Nigerian French Insurance Company Ltd and later Whispering Hope Insurance Company Ltd (now Sterling Assurance Nigeria Ltd) prior to his current appointment.</p>
                    <p>He holds a First Class Degree in Insurance and a Masters Degree in Business Administration (MBA), both from the University of Lagos. He is an Associate of the Chartered Insurance Institute of London and has had over 32 years of varied experience in general insurance marketing, underwriting and employee benefits consultancy.</p>
                    <p>Mr. Eleoramo is a past President and Chairman of Council of the Chartered Insurance Institute of Nigeria.</p>
                </div>
            </div>
           
           
            <!-- row 3-->
            <div class="row">
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/board/marinho.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Chief Marinho brings a wealth experience of management from the oil industry. He was appointed the first Managing Director of Nigerian National Petroleum Corporation (NNPC) in 1977 and played a dominant role in laying the foundation for the evolution and development of the oil and gas industry in Nigeria.</p>
                    <p>He retired from the Public Service in 1985 after a second stint as Managing Director of NNPC. He has a Bachelor of Science (Physics) from the University of Ibadan and a Diploma in Petroleum Reservoir Engineering from the Imperial College London.</p>
                </div>
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/board/omilani.jpg" style="float: left; margin: 0 10px 10px 0;"><p>He served as Senator of the Federal Republic of Nigeria in the third Republic representing Osun West Senatorial District.</p>
                    <p>Senator Omilani is a member of several professional bodies amongst which are:</p>
                    <ul>- Chartered Member of International Insurance Society and Associate</ul>
                    <ul>- - Chartered Insurance Institute of London</ul>
                    <ul>- Chartered Institute of Arbitrators, London and</ul>
                    <ul>- Fellow of Institute of Loss Adjusters of Nigeria.</ul>
                    <p>He is Chairman of several companies including Omis Investment Limited and Nigerian Healthcare International.</p>
                </div>
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/board/odunlami.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Mrs. Remi Odunlami is a fellow of the Chartered Association of Certified Accountants (ACCA) with a BSC. Degree in Mathematics from the University of Warwick Coventry UK. She started her career in Price Waterhouse in 1986, and in 1990 joined VT leasing as the pioneer Finance and Admin Manager after which she moved to Nigeria International Bank (now Citibank) where she spent 7 years in relationship Management covering corporation of various sizes in the multi national, energy, financial institutions, commercial and general corporate unit. After 19 years, she left Citibank for the First Bank Nigeria Ltd as Chief Risk Officer/Executive Director of the Bank. During this time she engaged in audit and training assignments at various locations in Europe, Middle East and Africa whilst representing the bank on the board of 6 of its subsidiary.</p>
                    <p>Mrs Odunlami left FBN Ltd to set up her own Risk Management Consultancy and continues her role in corporate governance as a member of the board of 3 financial institutions. As a testament to her skills and integrity Remi has been approved as a director of banks in several jurisdiction - the UK, the Democratic Republic of Congo, South Africa and Nigeria.</p>
                </div>
            </div>
            <!-- row 4-->
            <div class="row">
                <div class="  col-md-4 col-lg-4">
                    <img src="Images/Profiles/board/muhammed.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Dr. Muhammed is a non-executive Director. A member of several professional bodies, he is a Fellow of the Association of Chartered Certified Accountants (ACCA) and The Institute of Management Consultants (IMC). He has several years experience in Accounting, Investment, Management and Taxation. Dr. Muhammed is currently the Group Managing Director, Chief Executive Officer of New Nigeria Development Company Limited (NNDC). He has been a member of many Boards.</p>
                </div>
                <div class="  col-md-4 col-lg-4">
                   
                </div>
                <div class="  col-md-4 col-lg-4">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/plugins/tabbedpannels")
}