

@{
    ViewBag.Title = "cps";
 
}



<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Contributory Pensions Scheme (CPS)</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <h4 class="panel-title">Opening of Retirement Savings Account (RSA)</h4>
            <p>Employee shall open the RSA in his/her name with a Pension Fund Administration (PFA) of his/her choice and notify his employer. See Section 11 (1) & (2).</p>
            <h4 class="panel-title">Remittance of Monthly Pension Contributions</h4>
            <p>Employer shall deduct at source and within Seven (7) working days from the date the employee is paid his salary, remit both the employee’s and employer’s contributions directly to the Pension Fund Custodian (PFC) specified by the PFA. See Section 11 (3).</p>
            <h4 class="panel-title">Rate of Contributions</h4>
            <p>There is an upward review in the employees and employers minimum rate of contributions. Though, still based on monthly emoluments, ‘emolument’ has somewhat been defined differently. The new rate is as follows:</p>
            <table class="table table-striped table-hover " style="margin-top:20px">
                <thead>
                    <tr class="success">
                        <td>Category</td>
                        <td>Before - 2004 Act </td>
                        <td>Now – 2014 Act</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Employee</td>
                        <td>7.5% of Monthly Emoluments - Basic Salary Housing and Transport Allowance)</td>
                        <td>8% of Monthly Emoluments (see definition below)</td>
                    </tr>
                    <tr>
                        <td>Employer</td>
                        <td>7.5% of Monthly Emoluments - Basic Salary Housing and Transport Allowance</td>
                        <td>10% of Monthly Emoluments (see definition below)</td>
                    </tr>
                </tbody>
            </table>
            <p>Note: employer may elect to bear full responsibility of payment under the Scheme provided the contributions shall not be less than 20% of monthly emolument of employee.</p>

        </div>
    </div>
</div>




