
@{
    ViewBag.Title = "customercare";

}





<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Customer Care Services</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">


            <div class="leftbox">
                <div align="left" style="margin: 30px 0 15px 0;">
                    <div align="left" style="margin: 0 0 20px 0;">
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="4">Contributing into RSA - Getting Started</span></div>
                        <div class="boddetails" id="bod-4" style="display: block;height:750px">
                            <p>In line with the 2014 Pension Reform Act, which commenced from July 2004 for Federal employees and January 2005 for Private employees; you and your employer should make compulsory monthly contributions of 18%(minimum) of your total emoluments (Basic, Housing and Transport allowances) into your Retirement Savings Account (RSA), in the following proportions: </p>
                            <table class="table table-striped table-hover " style="margin-top:20px">
                                <thead>
                                    <tr class="success">
                                        <th>Employees’ Category</th>
                                        <th>Employee(Minimum Contribution)</th>
                                        <th>Employer(Minimum Contribution)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>All employees</th>
                                        <td>7.5%</td>
                                        <td>7.5%</td>
                                    </tr>
                                    <tr>
                                        <th>Military Employees</th>
                                        <td>2.5%</td>
                                        <td>12.5%</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>You can visit any of our offices nationwide to obtain a form or download our registration form <a href="~/openrsa">HERE</a> to register with us.</p>
                            <p><strong>Step 1:</strong></p>
                            <ul class="inTextList">
                                <li>Complete an RSA Form </li>
                                <li>Submit the completed form to any of our branches or agents close to you. See our locations</li>
                            </ul>
                            <p><strong>Step 2:</strong></p>
                            <ul class="inTextList">
                                <li>The submitted form will be registered and processed and Personal Identification Number (PIN) will be issued</li>
                                <li>A letter conveying this PIN and other vital information (i.e. log-in details, PFA’S Account details etc) will be sent to you</li>
                            </ul>
                            <p><strong>Step 3:</strong></p>
                            <ul class="inTextList">
                                <li>Notify your employer of your PFA Details:</li>
                            </ul>
                            <table class="table table-striped table-hover " style="margin-top:20px">
                                <tbody>
                                    <tr>
                                        <th>Sort code:</th>
                                        <td>011154686</td>
                                    </tr>
                                    <tr>
                                        <th>Custodian:</th>
                                        <td>First Pension Custodian Nigeria Limited</td>
                                    </tr>
                                    <tr>
                                        <th>Account Name:</th>
                                        <td>FPCNL-RE-NLPC PFA CONTRIBUTION A/C</td>
                                    </tr>
                                    <tr>
                                        <th>NUBAN Account Number:</th>
                                        <td>2006895606</td>
                                    </tr>
                                    <tr>
                                        <th>Bank:</th>
                                        <td>First Bank Nigeria Ltd</td>
                                    </tr>
                                    <tr>
                                        <th>Bank Branch Address:</th>
                                        <td>First Bank Nigeria Ltd 116, Awolowo Road Branch Awolowo Road, Ikoyi Lagos</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="1">Customer Care, Email and Telephone Lines</span></div>
                        <div class="boddetails" id="bod-1" style="display: none;height:300px">
                            <p>In a bid to serve you better and prepare you for secured retirement, NLPC PFA has a responsive Customer Care Unit <a href="mailto:customercare@nlpcpfa.com">customercare@nlpcpfa.com</a> with staff members who are charged with:</p>
                            <ul class="inTextList">
                                <li>Attending to customers respectfully and courteously</li>
                                <li>Responding promptly to queries or requests</li>
                                <li>Treating customers’ complaints and requests with utmost confidentiality</li>
                                <li>Answering phone calls in real time</li>
                                <li>Ensuring that customers are not just happy but satisfied</li>
                            </ul>
                            <p><strong>Our telephone lines are:</strong></p>
                            <ul class="inTextList">
                                <li><strong>Busola: </strong>08074309744, 08165836853, 01- 3427348</li>
                                <li><strong>Elizabeth: </strong>08064495253</li>
                                <li><strong>Anikor: </strong>08020511515</li>
                                <li><strong>Kemi: </strong>08051212121</li>
                                <li><strong>Benefits: </strong>08158886975, 08074309268</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

