@{
    ViewBag.Title = "faq";
  
}



<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Frequently asked Questions</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p>Frequently asked Questions on Benefits, Claims, Exit and Marketing</p>
            
            <div id="accordion" style="margin-top:20px">
                <h3>What makes NLPC Pension Fund Administrator different from other PFAs ?</h3>
                <div>
                    <p>Our experience, integrity, expertise and door-to-door personalized service delivery to clients stands us out among our numerous competitors out there. NLPC PFA is simply a name synonymous with pensions because of our pedigree.</p>
                </div>
                <h3>When can I have access to the fund in my account ?</h3>
                <div>
                    <p>Upon either retirement or at age of 50 whichever is later provided you are no longer in employment. Also, the RSA holder can access his/her benefits if due to ill health or disability confirmed by the employer and certified by medical practitioner or medical board not minding whether such employee is age 50 or not.</p>
                </div>
                <h3>Can I withdraw any portion of it ?</h3>
                <div>
                    <p>Yes. If the employee is disengaged (not voluntary resignation) and he is below age 50. Therefore, if after six (6) months of disengagement from work and you could not secure a new job; such employee is entitled to 25% of his Retirement Savings Account (RSA) balance.</p>
                </div>
                <h3>How do I receive my retirement benefit ?</h3>
                <div>
                    <p>At retirement or upon reaching age 50 – when you are no longer in employment, the amount in your RSA shall be used to purchase a programmed withdrawal or purchase an annuity that would guarantee an amount of not less than 50% of your last annual remuneration (subject to RSA balance) to be paid to you monthly or quarterly as pension for life (in case of annuity).</p>
                </div>
                <h3>What is Fund Programmed Withdrawal ?</h3>
                <div>
                    <p>A programmed withdrawal is the method by which the employee collects his accumulated benefits both in lump sum and by periodic payments usually monthly or quarterly for the length of an estimated life span. The lump sum benefits and monthly pension is expected to be paid into the retiree’s bank account. Only PFAs are licensed to offer this product.</p>
                </div>
                <h3>What is Annuity ?</h3>
                <div>
                    <p>An annuity is an income with monthly or quarterly payments during the lifetime of a retiree that is purchased from a licensed life insurance company approved by the National Pension Commission. The single premium for this is first deducted from your RSA. The balance, if any, would then be taken as lump sum.</p>
                </div>
                <h3>How much do I receive as benefit at retirement ?</h3>
                <div>
                    <p>If RSA balance is less than N550,000.00 at the time of retirement, the entire benefit is paid en bloc. Where the RSA balance is more than N550,000.00, the employee is entitled to a minimum of 25% and up to 50% en bloc payment as well as monthly pension for an estimated life span.</p>
                </div>
                <h3>Would I have access to all my money after retirement ?</h3>
                <div>
                    <p>Yes, if your entire benefits (contributions plus return) is not more than N550,000.00 at retirement; otherwise, you will only be entitled to a lump sum cash and monthly pension based on Programmed Withdrawal option or Annuity option.</p>
                </div>
                <h3>What happens to my benefit in the event of death ?</h3>
                <div>
                    <p>The beneficiary will be entitled to the benefit from the compulsory life insurance policy as well as the total benefits from the contributory pension scheme and other benefits (e.g Lagos State Public Service). The benefits would be paid en bloc into the beneficiary’s (ies’s) bank account(s).</p>
                </div>
                <h3>What is Retirement Savings Account ?</h3>
                <div>
                    <p>This is similar to a bank account. Every contributor will open a Retirement Savings Account (RSA) with a Pension Fund Administrator of his/her choice. The PFA will be required to issue a statement of account at least once every quarter. Unlike a bank account, withdrawal from RSA is only at retirement, death or loss of job.</p>
                </div>
                <h3>Are pension contributions paid to the PFAs ?</h3>
                <div>
                    <p>No. The employer sends both the employee as well as the employer’s monthly contributions directly to the Custodian.</p>
                </div>
                <h3>Can I switch PFAs ?</h3>
                <div>
                    <p>Yes. The employee has the freedom to move once a year from one PFA to another (without any reason). Though, the guidelines are out, but the effective date for its commencement is yet to be announced by the National Pension Commission.</p>
                </div>
                <h3>What happens to my account when I change job ?</h3>
                <div>
                    <p>Your RSA is a portable and mobile account which will remain with you for life. Simply notify your new employer of the PFA that manages your account and thereafter your contributions will be sent to its Custodian.</p>
                </div>
                <h3>Who is the regulator, and what role does he play ?</h3>
                <div>
                    <p>The National Pension Commission (PENCOM) is charged with the regulation and supervision of the operators as well as formulates, direct and oversee the overall policy on pension matters in Nigeria.</p>
                </div>
                <h3>How can I be sure that my contributions are safe ?</h3>
                <div>
                    <p>All those administering or keeping pension funds will be properly and continually regulated and supervised by the Commission. The Commission is empowered to sanction, withdraw license, and if need be prosecute defaulting operators.</p>
                </div>
                <h3>How can I keep track of my investments ?</h3>
                <div>
                    <p>Pension Fund Administrators will issue quarterly statements to employees. Also, employees can access their statement of account on <a href="/">our website</a> using the user name and password issued to them at registration. Yet, statement of account can be issued on request and through SMS transaction alert via their mobile phone.</p>
                </div>
                <h3>Can I use my pension contributions as collateral for securing loan ?</h3>
                <div>
                    <p>No, pension contributions are non assignable, non transferable and cannot be used as collateral for any loan. It is basically meant to serve you at old age/retirement when you can no longer actively cater for yourself.</p>
                </div>
                <h3>How can I change my login details ?</h3>
                <div>
                    <p>Kindly provide your Full Name, PIN and Employer and send a request mail to our customer care: <a href="mailto:customercare@nlpcpfa.com">customercare@nlpcpfa.com</a></p>
                </div>
                <h3>Can I borrow part of the contributions in my RSA to help me out of pressing financial crises ?</h3>
                <div>
                    <p>No, the RSA does not run like your bank account or cooperative account, so it is impossible for you to withdraw any part from your RSA.</p>
                    <p>Yes, if you have voluntary contributions</p>
                </div>
                <h3>How long will it take to process my benefit after retirement ?</h3>
                <div>
                    <p>At NLPC PFA, we are desirous to pay your retirement benefits in less than one month from the date of submitting all the required documentations.</p>
                </div>
                <h3>Why does it take a longer time to pay the death benefit ?</h3>
                <div>
                    <p>Most of the death cases are usually without a Will, which means that the beneficiary would have to apply to the Probate Registry for Letter of Administration which takes a long time to secure. You are therefore advised to have a Will by using the service of a competent lawyer.</p>
                </div>
                <h3>Who is a beneficiary ?</h3>
                <div>
                    <p>This is a person (s) recognized at law to be entitled to all the benefits payable to a deceased employee or client,through the instrumentality of a Will or letter of Administration</p>
                </div>
                <h3>Who is a next of kin ?</h3>
                <div>
                    <p>This is a person (s) named and to be contacted in the absence of the client for information purpose.</p>
                </div>
                <h3>What is the new scheme ?</h3>
                <div>
                    <p>The new scheme is a Contributory Pension Scheme (CPS), fully funded, privately managed pension scheme that is based on individual accounts. It ensures that everyone who has worked receives his retirement benefit as and when due.</p>
                </div>
                <h3>What are the objectives of the Contributory Pension Scheme ?</h3>
                <div>
                    <p>Ensure that every person who has worked in either the public or private sector receives his/her retirement benefits as an when due; Assist employees by ensuring that they save to cater for their livelihood during old age; Establish a uniform set of rules, regulations and standards for the administration and payment of pension fund in the country: and to stop the growth of outstanding pension liabilities.</p>
                </div>
                <h3>How does it work ?</h3>
                <div>
                    <p>A minimum of 15% of an employee’s monthly emolument is to be contributed by the employee and employer. (Emolument = Basic Salary + Housing+ Transport Allowance).</p>
                </div>
                <h3>What will happen to the contribution ?</h3>
                <div>
                    <p>The total contribution will be paid out by the employer directly to a Pension Fund Custodian (PFC) and will be managed and invested by the Pension Fund Administrator (PFA), of the employees’ choice.</p>
                </div>
                <h3>Who is a Pension Fund Administrator ?</h3>
                <div>
                    <p>A Pension Fund Administrator is an entity licensed by the National Pension Commission (PENCOM) and charged with the responsibility of managing and investing pension funds. Each employee is free to choose a PFA.</p>
                </div>
                <h3>Who is a Pension Fund Custodian ?</h3>
                <div>
                    <p>A Pension Fund Custodian is an entity licensed by the National Pension Commission to keep pension funds and assets in safe custody.</p>
                </div>
                <h3>Is it possible for my employer to access my contribution at anytime for whatever reason ?</h3>
                <div>
                    <p>The Retirement Savings Account is a personal account and can only be accessed by the owner except in death cases. However, in some states (e.g. Lagos State) employees may be denied access to their accounts until issues of indebtedness with their employer are resolved.</p>
                </div>
                <h3>Why is my RSA statement reading zero balance ?</h3>
                <div>
                    <p>This is most likely because your employer is yet to remit your monthly pension contributions. Kindly liaise with your employer or PFA on the way forward. For public employees (Federal), please check “Non remittance of Pension Contributions” under our Pension Administration module.</p>
                </div>
                <h3>What are the advantages and disadvantages of the new scheme ?</h3>
                <div>
                    <p>The new scheme is contributory and fully funded; it encourages individual savings towards retirement; money is available to pay retirees. Retired workers can collect their benefits as and when due; we have checks and balances because pension administration and investment is separated from fund custody and control; and the accumulated contributions bring about development in the economic activities. A major disadvantage is that employees are made to contribute towards their retirement.</p>
                </div>
                <h3>What are the advantages and disadvantages of the old scheme ?</h3>
                <div>
                    <p>The old scheme was funded only by the employer. However, the disadvantages include: corruption, outright theft, mismanagement and serial abuse of the pension administration, retirees were not paid as and when due or paid at all; huge pension liability because no money was set aside for pension especially in the public sector; some employers do not have any pension arrangement in the private sector and where it exist, most of the workers squandered their pension benefits when they were in active service.</p>
                </div>
            </div>
        </div>
    </div>
</div>


