@{
    ViewBag.Title = "locations";
   
}




<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Our Branches</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p>At NLPC PFA, we provide exceptional personalized service delivery. In addition to the statutory interactive fora, we also deliver on investment education which is tailor–made of relevance for the growth, development and enrichment of both employers and employees of the organization as enshrined in the Pencom Act. This is a niche service and we at NLPC PFA have endeared ourselves to our teaming customers’ and clients’. We continuously train all our staff to provide you maximum satisfaction.</p>
            <p style="margin-top: 10px">You can still reach us through our various communication networks. Below are our Head Office, Branch Offices, Service Centers,E-mails Address and Telephone Numbers with which you can relate with us.</p>
            <div class="leftbox">
                <div align="left" style="margin: 30px 0 15px 0;">
                    <div align="left" style="margin: 0 0 20px 0;">
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="0">Head Office</span></div>
                        <div class="boddetails" id="bod-0" style="display: block; height: 100px">
                            <table style="padding: 10px">
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Address:</strong></td>
                                    <td style="padding: 5px 10px">312A, Ikorodu Road, Anthony, Lagos, Nigeria.</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Tel:</strong></td>
                                    <td style="padding: 5px 10px">01-2793580-2</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Fax:</strong></td>
                                    <td style="padding: 5px 10px">2793583</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Email:</strong></td>
                                    <td style="padding: 5px 10px">info@nlpcpfa.com</td>
                                </tr>
                            </table>
                        </div>

                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="1">Abuja Office</span></div>
                        <div class="boddetails" id="bod-1" style="display: none; height: 100px">
                            <table style="padding: 10px">
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Address:</strong></td>
                                    <td style="padding: 5px 10px">Wing A, 1st Floor Plateau State House 79, Ralph Shodehinde Street, Central Area, Abuja.</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Contact:</strong></td>
                                    <td style="padding: 5px 10px">James Ogunleye</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Tel:</strong></td>
                                    <td style="padding: 5px 10px">08087781201, 08074393968, 095240234</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Email:</strong></td>
                                    <td style="padding: 5px 10px">abuja@nlpcpfa.com</td>
                                </tr>
                            </table>
                        </div>

                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="2">Kaduna Office</span></div>
                        <div class="boddetails" id="bod-2" style="display: none; height: 100px">
                            <table style="padding: 10px">
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Address:</strong></td>
                                    <td style="padding: 5px 10px">Turaki Alli House, 3 Kanta Road,Kaduna</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Contact:</strong></td>
                                    <td style="padding: 5px 10px">Mr. S. Ogoyi</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Tel:</strong></td>
                                    <td style="padding: 5px 10px">08033295587 or 07029671678</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Email:</strong></td>
                                    <td style="padding: 5px 10px">kaduna@nlpcpfa.com</td>
                                </tr>
                            </table>
                        </div>

                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="3">Port Harcourt Office</span></div>
                        <div class="boddetails" id="bod-3" style="display: none; height: 100px">
                            <table style="padding: 10px">
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Address:</strong></td>
                                    <td style="padding: 5px 10px">3, Airport Estate Road, Rumuomasi, Port Harcourt</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Contact:</strong></td>
                                    <td style="padding: 5px 10px">N. K. Odiba</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Tel:</strong></td>
                                    <td style="padding: 5px 10px">08033452838 or 07029671675</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Email:</strong></td>
                                    <td style="padding: 5px 10px">portharcourt@nlpcpfa.com</td>
                                </tr>
                            </table>
                        </div>

                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="4">Enugu Office</span></div>
                        <div class="boddetails" id="bod-4" style="display: none; height: 100px">
                            <table style="padding: 10px">
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Address:</strong></td>
                                    <td style="padding: 5px 10px">Akalaka House, 127/129 Chine Avenue,New Haven ,Enugu</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Contact:</strong></td>
                                    <td style="padding: 5px 10px">Esther C. Nnaji</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Tel:</strong></td>
                                    <td style="padding: 5px 10px">08054270600 or 08039665400</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; text-align: right"><strong>Email:</strong></td>
                                    <td style="padding: 5px 10px">enugu@nlpcpfa.com</td>
                                </tr>
                            </table>
                        </div>

                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="5">Service Centers Nationwide</span></div>
                        <div class="boddetails" id="bod-5" style="display: none; height: 1220px; text-align:left">
                            <table class="table table-striped table-hover " style="margin-top: 20px">
                                <thead>
                                    <tr class="success">
                                        <th>Location</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Abeokuta</th>
                                        <td>GNI House Panseke,	Abeokuta,Ogun State</td>
                                        <td>Jacob.T. Ogunkola</td>
                                        <td>08023350385 or 07029671679</td>
                                        <td>abeokuta@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Ado-Ekiti</th>
                                        <td>No 306, Ajilosun street,opposite old technical college, Ikere road, Ado-Ekiti</td>
                                        <td>Sesan Popoola</td>
                                        <td>08034193608 or 08022960503</td>
                                        <td>adoekiti@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Akure</th>
                                        <td>TISCO House, Old Ado-Owo Rd, Alagbaka, Akure</td>
                                        <td>A. O. Adejumola</td>
                                        <td>08033544689 or 034207087</td>
                                        <td>akure@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Akwa-Ibom</th>
                                        <td>248, Ikot Epene Road, Uyo</td>
                                        <td>Abigail Jackson</td>
                                        <td>08064344449 or 07084839969</td>
                                        <td>akwaibom@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Asaba</th>
                                        <td>Funecolinks Plaza,Suite A23, 32 Summit Road, Asaba, Delta State</td>
                                        <td>Ken Onokun</td>
                                        <td>08034447589 or 07029671681</td>
                                        <td>asaba@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Benin City</th>
                                        <td>Benin City	29, Akpakpava Street,Benin City, Edo State</td>
                                        <td>A. A. Ademeno</td>
                                        <td>08028394180 or 07029081874</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th>Calabar</th>
                                        <td>108, Ndidem Iso Road, Calabar</td>
                                        <td>A. O. Eniang</td>
                                        <td>08056612087 or 08032736736</td>
                                        <td>calabar@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Gombe</th>
                                        <td>Amni Plaza,Opposite Bauchi Motor Park, Bauchi Road,Gombe.</td>
                                        <td>Danladi Erisa Sarki</td>
                                        <td>08036064915</td>
                                        <td>gombe@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Ibadan</th>
                                        <td>Wuraola House, Adeoyo Hospital Road,Off Ring Road Ibadan, Oyo State</td>
                                        <td>A. B. Jegede</td>
                                        <td>08034440372 or 07029671676</td>
                                        <td>ibadan@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Ilorin</th>
                                        <td>Plot 163, Ibrahim Taiwo Road,Ilorin, Kwara</td>
                                        <td>F. Ategbese</td>
                                        <td>08054266237 or 07029825651</td>
                                        <td>ilorin@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Jos</th>
                                        <td>No 28A, Tafawa Balewa Street, Opposite United Baptist Church, Jos, Plateau</td>
                                        <td>C. O. Banji</td>
                                        <td>08036075001 or 08026360620</td>
                                        <td>jos@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Kogi</th>
                                        <td>29, Barracks Rd. Lokongoma Phase 1, Lokoja, Kogi</td>
                                        <td>M. S. Attah</td>
                                        <td>08036625301</td>
                                        <td>kogi@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Kano</th>
                                        <td>Union Bank Building, 37 Niger Street, Kano</td>
                                        <td>Alex Bok</td>
                                        <td>08023383711 or 07029081873</td>
                                        <td>kano@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Maiduguri</th>
                                        <td>National Bank Building, Maidugri</td>
                                        <td>Alli Ibrahim Mohammed</td>
                                        <td>08034794140 or 07029671677</td>
                                        <td>maiduguri@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Minna</th>
                                        <td>Sanbell House, 2A Bosso Road, Beside Gwari Motors, GRA, Minna</td>
                                        <td>Hassan Adamu</td>
                                        <td>08035989428</td>
                                        <td>minna@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Nassarawa</th>
                                        <td>5, Jos Road, Adjacent Aisha Sandaji Plaza, Bukan-Sidi, Lafia</td>
                                        <td>Ali Adagazu Kayarda</td>
                                        <td>07032113259 or 08061550085</td>
                                        <td>nassarawa@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Osogbo</th>
                                        <td>Room 39, Afi-Suru Shopping Complex, Alekuwodo Street,Osogbo</td>
                                        <td>Olufemi Kayode Abiodun</td>
                                        <td>08027509000 or 08091402673</td>
                                        <td>oshogbo@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Sokoto</th>
                                        <td>22, Ahmadu Bello Way, Sokoto</td>
                                        <td>Saheed Kareem</td>
                                        <td>08039519010 or 060231611</td>
                                        <td>sokoto@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Yobe</th>
                                        <td>Damaturu 32, Bukar Abba Ibrahim Way, Opp. Government House, Yobe</td>
                                        <td>Ayuba Daniel</td>
                                        <td>07032688809</td>
                                        <td>yobe@nlpcpfa.com</td>
                                    </tr>
                                    <tr>
                                        <th>Yola</th>
                                        <td>Jimeta 119, Mubi Road, Yola</td>
                                        <td>Wale Ojumu</td>
                                        <td>08069793069 or 08073533232</td>
                                        <td>yola@nlpcpfa.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

