@{
    ViewBag.Title = "mgtteam";
   
}

<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Management Team</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p>The combination of our Management Team provides the unique and competitive edge derived from their diversified knowledge, experience and expertise, thus, enabling us to serve our numerous clienteles even better. We present to you our dynamic Management Team</p>
            <div class="leftbox">
                <!-- ROW 1-->
                <div class="row">
                    <div class="col-md-3 col-lg-3" >
                        <!--Managing Director /CEO-->
                        <a href="#"><img data-toggle="tooltip" title=" Managing Director /CEO" data-placement="bottom" src="Images/Profiles/mggteam/kolawole.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" managing director ceo" /> </a>   

                    </div>
                    
                    <div class="col-md-3 col-lg-3">
                        <!-- Executive Director -Operations-->
                        <img data-toggle="tooltip" title=" Executive Director -Operations" data-placement="bottom" src="Images/Profiles/Board/Bunmi_Oyeleye.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" executive director operations" />
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <!-- Executive Director -Finance and Investment-->
                        <img data-toggle="tooltip" title=" Executive Director -Finance and Investment" data-placement="bottom" src="Images/Profiles/Board/Samuel_Balogun.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" executive director -finance and investment" />
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <!-- Head, Internal Control-->
                        <img data-toggle="tooltip" title=" Head, Internal Control" data-placement="bottom" src="Images/Profiles/mggteam/aderemi_lateef.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" head, internal control" />
                    </div>

                </div>
                <!-- Mgt team names row 1-->
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -13px!important">
                        <a href="#" data-toggle="tooltip" title="MD/CEO" data-placement="bottom">Adewale O. Kolawole</a> 
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Executive Director - Operations" data-placement="bottom">Comfort O. Oyeleye</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Executive Director - Finance & Investments" data-placement="bottom">Samuel A. Balogun</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, Internal Audit" data-placement="bottom">Aderemi Lateef</a>
                    </div>
                </div>

                
                <!--ROW 2-->
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <!--Head Finance-->
                        <img data-toggle="tooltip" title=" Head,Branch Operations" data-placement="bottom" src="Images/Profiles/mggteam/SeunBabalola.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, BD/RM" data-placement="bottom" src="Images/Profiles/mggteam/titi_olufade.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Finance" data-placement="bottom" src="Images/Profiles/mggteam/Oladipo_taiwo.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Human Resource/Administration" data-placement="bottom" src="Images/Profiles/mggteam/Djuma_Otojare.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -13px!important">
                        <a href="#" data-toggle="tooltip" title=" Head,Branch Operations" data-placement="bottom">Oluwaseun R. Babalola</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, BD/RM" data-placement="bottom">Titilola Olufade</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, Finance" data-placement="bottom">Oladipo Taiwo</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, Human Resource/Administration" data-placement="bottom">Djuma Otojare</a>
                    </div>
                </div>

                <!-- ROW 3-->
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Information Technology" data-placement="bottom" src="Images/Profiles/mggteam/Shamsideen_Solarin.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Compliance Department" data-placement="bottom" src="Images/Profiles/mggteam/Joseph_Lawani.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Investment Department" data-placement="bottom" src="Images/Profiles/mggteam/Modeyin_Ekundayo.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Risk Department" data-placement="bottom" src="Images/Profiles/mggteam/Olusola_Esan.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -20px!important">
                        <a href="#" data-toggle="tooltip" title="Head, Information Technology" data-placement="bottom">Shamsideen A. Solarin</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, Compliance Department" data-placement="bottom">Joseph Lawani</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, Investment Department" data-placement="bottom">Modeyin Steve</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, Risk Department" data-placement="bottom">Olusola Esan</a>
                    </div>
                </div>

                <!-- ROW 4-->
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Benefits Department" data-placement="bottom" src="Images/Profiles/mggteam/Damilola_Omolayole.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />
                        
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Fund Accounting" data-placement="bottom" src="Images/Profiles/mggteam/Dayo_Adekolu.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Contributions Department" data-placement="bottom" src="Images/Profiles/mggteam/Peter_Semako.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                    <div class="col-md-3 col-lg-3">
                        <img data-toggle="tooltip" title="Head, Legal Department" data-placement="bottom"  src="Images/Profiles/mggteam/Folu_Oshidero.jpg" style="float: left; margin: 0 10px 10px 0;width:140px; height:160px alt=" alternate text" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -20px!important">
                        <a href="#" data-toggle="tooltip" title="Head, Benefits Department" data-placement="bottom">Damilola Omolayole</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, Fund Accounting" data-placement="bottom">Adedayo Adekolu</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, Contributions Department" data-placement="bottom">Semako Peter</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: -14px;">
                        <a href="#" data-toggle="tooltip" title="Head, Legal Department" data-placement="bottom">Adefolu Oshindero</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
