@{
    ViewBag.Title = "mgtteam";
   
}


<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Management Team</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p>The combination of our Management Team provides the unique and competitive edge derived from their diversified knowledge, experience and expertise, thus, enabling us to serve our numerous clienteles even better. We present to you our dynamic Management Team</p>
            <div class="leftbox">
                <div align="left" style="margin: 0 0 20px 0;">
                    <div align="left" style="margin: 0 0 20px 0;">
                        <div class="head4" style="margin: 30px 0 15px 0;"><strong>ADEWALE O. KOLAWOLE</strong><span class="lcurve" id="1">Managing Director/CEO</span></div>
                        <div class="boddetails" id="bod-1" style="display: block;">
                            <img src="Images/Profiles/Board/Wale_Kolawole.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Wale Kolawole has been the Managing Director of NLPC Pension Fund Administrators Limited from inception. He is an Associate of the Chartered Insurance Institute of London. Mr. Kolawole holds a Masters degree in Business Administration specialising in financial management.</p>
                            <p>He has over 27 years experience in the pension industry and is highly versed in pension schemes, administration and investment. He has presented papers on Pensions and related benefits at different forums in Nigeria, South Africa and United Kingdom. Married with children, Mr. Kolawole enjoys reading and travelling.</p>
                        </div>
                        <div class="head4"><strong>COMFORT O. OYELEYE</strong><span class="lcurve" id="2">Executive Director-Operations</span></div>
                        <div class="boddetails" id="bod-2" style="display: none;">
                            <img src="Images/Profiles/Board/Bunmi_Oyeleye.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Bunmi Oyeleye was the Executive Director – Technical Operations of Nigeria Reinsurance Corporation, a major voice in the Nigerian insurance industry with specialisation on acceptance of risks from insurance companies in Nigeria and abroad. She has broad knowledge of Nigerian Insurance and Pension Industry having served as a policy maker in a number of government establishments, amongst which was the formation of draft documents of Insurance Decree of 1976, 1991 and 1993.</p>
                            <p>Mrs. Oyeleye is an associate of Chartered Insurance Institute of London and holds a Post Graduate Certificate in Management Studies of University of Manchester, United Kingdom. She is married with children.</p>
                        </div>
                        <div class="head4"><strong>SAMUEL A. BALOGUN</strong><span class="lcurve" id="3">Executive Director-Finance and Investment</span></div>
                        <div class="boddetails" id="bod-3" style="display: none;height:300px">
                            <img src="Images/Profiles/Board/Samuel_Balogun.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Samuel Balogun has over 20 years experience covering pension funds,insurance, investment management, finance and business strategy. He joined NLPC PFA in March 2006 as General Manager (Finance & Investment), and later rose to the position of an Executive Director in 2010.</p>
                            <p>Prior to joining NLPC PFA, he worked as a General Manager with Intercontinental Asset Management Ltd (now Intercontinental Capital Market Limited), where he was responsible for funds/portfolio management. He also worked with Skye Trustees Limited as Head of Asset Management, where he pioneered the company’s pension funds and asset management operations. Earlier in his career, he worked with Crusader Insurance (Nigeria) Plc and Industrial & General Insurance Plc where he was responsible for actuarial services, life insurance and pension administration.</p>
                            <p>He holds a B.Sc. (Hons) degree in Actuarial Science and M.Sc. degree in Management from University of Lagos, Nigeria. He is a Fellow of the Institute of Chartered Accountants of Nigeria, a Chartered Insurance Practitioner, and an Associate of the Chartered Institute of Taxation of Nigeria.</p>
                        </div>
                        <div class="head4"><strong>ADEREMI JELILI LATEEF</strong><span class="lcurve" id="4">Head, Internal Control</span></div>
                        <div class="boddetails" id="bod-4" style="display: none;height:200px">
                            <img src="Images/Profiles/mggteam/aderemi_lateef.jpg" style="float: left; margin: 0 10px 10px 0;"><p>He has a Bachelor of Science Degree in Economics from the Obafemi Awolowo University. He is a Fellow of the Institute of Chartered Accountants of Nigeria, an Associate member of the Chartered Institute of Taxation of Nigeria, an Associate of Certified Fraud Examiners as well as a Certified Forensic Accountant.</p>
                            <p>Mr. Lateef started his career with the firm of Akintola Williams and Company. Before joining NLPCPFA he was a partner in the firm of Lateef Aderemi & Co Chartered Accountants. He has over 20 years of cognate experience in Corporate Governance Assurance services. He is happily married with children.</p>
                        </div>
                        <div class="head4"><strong>TITILOLA OLUFADE</strong><span class="lcurve" id="5">Head, Business Development and Relationship Management</span></div>
                        <div class="boddetails" id="bod-5" style="display: none;height:180px">
                            <img src="Images/Profiles/mggteam/titi_olufade.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Titi Olufade was the General Manager of Global Risks Associates, an insurance brokerage firm before moving up to Sterling Assurance Nigeria Limited, where she was the Head of the Life Department. She is an associate member of the Chartered Insurance Institute of Nigeria (CIIN).</p>
                            <p>Mrs. Olufade has over 20 years of work experience in financial services involving annuities, risk and insurance.</p>
                        </div>
                        <div class="head4"><strong>OLADIPO TAIWO</strong><span class="lcurve" id="6">Head, Finance</span></div>
                        <div class="boddetails" id="bod-6" style="display: none;">
                            <img src="Images/Profiles/mggteam/Oladipo_taiwo.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Prior to joining NLPC PFA in 2005 as one of its pioneer staff, Dipo had experience in Manufacturing,  Energy Sales and Real Estate. He has several years experience in Corporate Finance, Auditing and Investment.</p>
                            <p>He is an Accounting graduate, a Fellow of The Institute of Chartered Accountants of Nigeria and an Associate Member of Chartered Institute of Taxation of Nigeria. He is currently the Head of the Finance Department.</p>
                        </div>
                        <div class="head4"><strong>DJUMA OTOJARE</strong><span class="lcurve" id="7">Head, Human Resource/Administration</span></div>
                        <div class="boddetails" id="bod-7" style="display: none;">
                            <img src="Images/Profiles/mggteam/Djuma_Otojare.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Djuma graduated in 1979 from the University of Ibadan with a Second Class Upper in Sociology and a MBA in 1983 from the University of Benin. He is a member of the Chartered Institute of Personnel Management [MCIPM] and also an Associate Business Continuity Professional [ABCP]. His over 30-year Human Resources experience spans the Manufacturing, Insurance and Pension Industry.</p>
                            <p>He is a past Chairman of the Human Capital Management Committee of the Nigerian Insurance Employers Group, and presently Chairman, Human Resources Forum in the Industry. He has attended various conferences and seminars in Nigeria and abroad. He joined NLPC PFA in 2006 as Head, Corporate Affairs and Administration. He is presently Head, Human Resources / Administration.</p>
                        </div>
                        <div class="head4"><strong>SHAMSIDEEN .A SOLARIN</strong><span class="lcurve" id="8">Head, Information Technology</span></div>
                        <div class="boddetails" id="bod-8" style="display: none;height:350px">
                            <img src="Images/Profiles/mggteam/Shamsideen_Solarin.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Shamsideen holds B.Tech (Computer Science) from Federal University of Technology Akure; Post Graduate Diploma in Management from Usmanu Danfodiyo University, Sokoto and Masters in Information Technology from Ladoke Akintola University of Technology ,Ogbomosho. Presently, pursing MBA from Business School Netherlands. He has over 12 years of proven experience in Project Management, IT Training & Consultancy, Operational Process re-engineering and strategy, Business Process Analysis, and Information Technology Solution provisioning.</p>
                            <p>He is an Oracle certified Professional, Six Sigma Green Belt Professional, Business Process Management Professional, Microsoft Certified Technology Specialist, Information Technology(MCTS), Infrastructure Library (ITIL) Certified, PRINCE 2 Certified Project manager  among other certifications. He is also a member of Computer Professionals (Registration Council) of Nigeria (CPN), Computer Society of Nigeria (CSN) and Project Management Institute (PMI), USA.</p>
                            <p>Shamsideen has been involved in various projects which includes Data Center Setup, Software development & Implementation, Network management and Disaster Recovery & Business Continuity Plan Implementation.  Prior to joining NLPC PFA, he has worked with Softcodes International Ltd and Compute-Rite Systems Ltd as a Software Engineer and IT Consultant respectively.</p>
                        </div>
                        <div class="head4"><strong>JOSEPH LAWANI</strong><span class="lcurve" id="9">Head, Compliance</span></div>
                        <div class="boddetails" id="bod-9" style="display: none;">
                            <img src="Images/Profiles/mggteam/Joseph_Lawani.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Joseph is a graduate of Accounting from the University of Nigeria, Nsukka. He is also a member of ICAN as well as CIBN.</p>
                            <p>He has several years experience in Financial Analysis, Treasury Operations, Internal Audit, Customer Service, Risk Management and Compliance. He started his career with First City Merchant Bank Limited, now First City Monument Bank Plc. Subsequently, he joined Equitorial Trust Bank Limited, now Sterling Bank Plc. as an Inspector. Later at ETB, he served as the Customers Services Manager at Abuja Branch and Kano Branch.</p>
                            <p>Joseph joined NLPC PFA Limited in March, 2009 as the Risk Manager and was responsible for monitoring and reviewing risk. He was appointed the Compliance Officer in 2011.</p>
                        </div>
                        <div class="head4"><strong>MODEYIN STEVE</strong><span class="lcurve" id="10">Head, Investment Management</span></div>
                        <div class="boddetails" id="bod-10" style="display: none;">
                            <img src="Images/Profiles/mggteam/Modeyin_ekundayo.jpg" style="float: left; margin: 0 10px 10px 0;"><p>STEVE holds a B.Sc. Actuarial Science (Second Class Upper Division) from University of Lagos and also holds an MBA Finance & M.Sc. Management Science both from University of Ilorin. He is an Associate Member of The Chartered Insurance Institute of Nigeria, National Institute of Marketing of Nigeria and Chartered Institute of Stockbrokers of Nigeria and an Authorized Dealing Clerk of The Nigerian Stock Exchange. </p>
                            <p>Steve has over 16 years working experience in different sectors of the economy including Lecturing and investment management. Prior to joining NLPC PFA LTD he worked with Mustard Investment Ltd . He is currently the Head of Investment Department.</p>
                        </div>
                        <div class="head4"><strong>OLUSOLA ESAN</strong><span class="lcurve" id="11">Head, Risk Management</span></div>
                        <div class="boddetails" id="bod-11" style="display: none;">
                            <img src="Images/Profiles/mggteam/Olusola_esan.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Olusola obtained a first degree in Accounting from the University of Lagos. He is also an Associate of the Institute of Chartered Accountants of Nigeria. He has over 15 years experience in different sectors of the economy.</p>
                            <p>Prior to joining the company in 2011, he was the Regional Manager-Internal Control at Intercontinental Bank Plc. [now Access Bank Plc]. He is currently the Head of the Risk Management Department.</p>
                        </div>
                        <div class="head4"><strong>DAMILOLA OMOLAYOLE</strong><span class="lcurve" id="12">Head, Benefits Management</span></div>
                        <div class="boddetails" id="bod-12" style="display: none;">
                            <img src="Images/Profiles/mggteam/Damilola_omolayole.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Damilola graduated with a B.A. in Economics from London Guildhall University and a Masters in Business Administration (MBA) from the University of Buckingham.</p>
                            <p>She joined the company in March 2006 and has held various positions within the organization. She is presently the head of the Benefits Administration Department.</p>
                        </div>
                        <div class="head4"><strong>ADEDAYO ADEKOLU</strong><span class="lcurve" id="13">Head, Fund Accounting</span></div>
                        <div class="boddetails" id="bod-13" style="display: none;">
                            <img src="Images/Profiles/mggteam/Dayo_adekolu.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Mr. Adekolu is an Associate of the Institute of Chartered Accountants of Nigeria and the Chartered Institute of Taxation of Nigeria.</p>
                            <p>He has over 17 years Finance, Auditing, Consulting and Investment experience. He started his career with Oladipo Babalola & co (Chartered Accountants) and later moved to Emeka Ibe & Co, a firm of professional accountants & tax consultants.</p>
                            <p>Prior to joining NLPC PFA Ltd, he had a short stint with the professional firm of Ajibade Durojaiye & Co before moving to Businessday Media Ltd as the Deputy Head of the Systems & Control Department.  He is currently the Head of the Fund Accounting Department and is happily married with children.</p>
                        </div>
                        <div class="head4"><strong>SEMAKO PETER</strong><span class="lcurve" id="14">Head, Contribution Management</span></div>
                        <div class="boddetails" id="bod-14" style="display: none;">
                            <img src="Images/Profiles/mggteam/Peter_Semako.jpg" style="float: left; margin: 0 10px 10px 0;"><p>He graduated from Lagos State University with a Bachelor of Science Degree in Biochemistry (Second Class Upper Division). He had his second degree, M.Sc. in the same discipline from the University of Lagos. He is an Associate member of Chartered Insurance Institute (ACII) of Nigeria.</p>
                            <p>He started his career with Lagos State Government as an Administrative Officer in 2001, and then moved to Nigeria Life and Provident Company as Senior Officer in 2004. He joined NLPC Pension Fund Administrators Limited in 2005 and currently heads the Contributions Management Department. He is married with children.</p>
                        </div>
                        <div class="head4"><strong>ADEFOLU OSINDERO</strong><span class="lcurve" id="15">Head, Legal</span></div>
                        <div class="boddetails" id="bod-15" style="display: none;">
                            <img src="Images/Profiles/mggteam/FOLU_OSHIDERO.jpg" style="float: left; margin: 0 10px 10px 0;"><p>Adefolu graduated from the University of Ife [now Obafemi Awolowo University] in 1989 with an LL.b. [Hons] and was called to the Nigerian Bar in 1990. As a private legal practitioner he worked with the firms of Wole Olufon & Co; G.O. Shodipo & Co. and Chris Wogu Chambers.</p>
                            <p>He joined the company in 2013 and is presently the head of the Legal Department.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

