@{
    ViewBag.Title = "missions";
   
}




<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Our Vision, Mission and Core Values</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p><strong>Our Vision</strong></p>
            <p>To be a dominant pension fund administrator providing the best pension funds administration services to assist workers actualize their envisioned retirement life.</p>

            <p style="margin-top: 25px"><strong>Our Mision</strong></p>
            <p>Securing a brighter future for workers by insuring a steady stream of income at retirement through efficient and safe management of their pension savings, employing and motivating the right people using appropriate technology for excellent service delivery.</p>

            <p style="margin-top: 25px"><strong>Our Core Values</strong></p>
            <p>Integrity, Experience and Expertise</p>
        </div>
    </div>
</div>
