

<div class="panel panel-success panel-content" style="width: 100%;">
    <div class="panel-heading">
        <h3 class="panel-title">Open an RSA Account</h3>
    </div>
    <div class="panel-body">
        <h3 class="panel-title">Please Fill the Following information to Open an RSA Account with us</h3>
        <table>
            <tr>
          
               
                <td style="vertical-align:top">
                    <div class="panel panel-success panel-content" style="margin-left:40px; margin-top:10px; width:240px">
                        <div class="panel-heading">
                            <h3 class="panel-title">Created Account ? Login</h3>
                        </div>
                        <div class="panel-body">
                         
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


@section Scripts{
    <script>
        $('#CaptchaInputText').addClass("form-control");
    </script>
}