
<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Our Custodian</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p style="text-align: justify">Our Custodian is First Pension Fund Custodian Nigeria Limited; a company fully owned by First Bank Nigeria Plc with a collosus of branch network that will meet the need of retirees. Payment to the Custodian can be made through any branch of First Bank Nigeria Plc in the country.</p>
            <p style="text-align: justify; margin-top: 20px">A Pension Fund Custodian (PFC) is a company registered under the Company and Allied Matters Act and licensed by the National Pension Commission to keep pension funds and assets in the Retirement Savings Account (RSA) on trust for the PFA for the benefit of the employees. The establishment of the PFC is a control and safety value mechanism because it separates pension administration and management from custody of pension fund and assets. Click here to visit our Custodian.</p>
        </div>
    </div>
</div>
