@{
    ViewBag.Title = "ourresponsibilities";
    
}



<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">NLPC PFA Responsibilities to Clients</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p><strong>1. Registration of Clients</strong></p>
            <p style="margin-left:10px">i.  Ensure prompt registration</p>
            <p style="margin-left:10px">ii. Issuance of Personal Identification Number (PIN) by PenCom to registered clients</p>
            <p style="margin-left:10px">iii. PIN letter delivery to clients</p>

            <p style="margin-top:25px"><strong>2. Remittance of Contributions</strong></p>
            <p style="margin-left:10px">i. Follow-up with employers on monthly remittance of pension contributions</p>

            <p style="margin-top:25px"><strong>3. Investment of Pension Fund</strong></p>
            <p style="margin-left:10px">i. Invest and manage pension contributions and Assets through the Pension Fund Custodian (PFC) in accordance with the investment guidelines issued by PenCom</p>
            <p style="margin-left:10px">ii. Organising investment education</p>

            <p style="margin-top:25px"><strong>4. Record Keeping</strong></p>
            <p style="margin-left:10px">i. Maintaining books of account on all transactions</p>

            <p style="margin-top:25px"><strong>5. Statement of Account</strong></p>
            <p style="margin-left:10px">i. Rendering of the mandatory quarterly statement of account</p>

            <p style="margin-top:25px"><strong>6. Information Update</strong></p>
            <p style="margin-left:10px">i. Provide relevant and up-to-date information to clients and the National Pension Commission on employees and, or beneficiaries</p>
            <p style="margin-left:10px">ii. Exchange of correspondence</p>
            <p style="margin-left:10px">iii. Organizing interactive fora</p>

            <p style="margin-top:25px"><strong>7. Deceased Employee</strong></p>
            <p style="margin-left:10px">i. Collection and disbursement of pension and guaranteed death – in –service benefits as required by Law.</p>

            <p style="margin-top:25px"><strong>8. Retirement Benefits</strong></p>
            <p style="margin-left:10px">i. Ensure that retirement benefits and monthly pensions are paid promptly if by programmed withdrawal option.</p>

            <p style="margin-top:25px"><strong>9. Requests/Complaints</strong></p>
            <p style="margin-left:10px">i. Responding to request and complaints.</p>

            <p style="margin-top:25px"><strong>10. Customer Relationship</strong></p>
            <p style="margin-left:10px">i. Fostering good customer relationship.</p>
        </div>
    </div>
</div>
