@{
    ViewBag.Title = "pensiontypes";
  
}




<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Payment Types</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <div class="leftbox">
                <div align="left" style="margin: 30px 0 15px 0;">
                    <div align="left" style="margin: 0 0 20px 0;">
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="4">Payment on Resignation / Loss of Job</span></div>
                        <div class="boddetails" id="bod-4" style="display: block;height:275px">
                            <p>Where an employee resigns or loses his/her job (termination, disengagement, redundancy and liquidation of company) before age 50 and could not secure another job after a period of four (4) months, such an employee may apply for payment of 25% of account balance.</p>
                            <p style="margin-top:15px">The following are the required documents:</p>
                            <ul class="inTextList">
                                <li>A letter addressed to the MD/CEO requesting for payment of 25% of RSA Balance</li>
                                <li>Copy of letter of disengagement or Company Closure</li>
                                <li>Copy of birth certificate or age declaration</li>
                                <li>Photocopy of Cheque leaf or Savings Withdrawal Passbook</li>
                                <li>Duly completed NLPC PFA Personal Data Update Form and Bank Account Form</li>
                                <li>A letter will be forwarded to your employer (except for company closure) to confirm the total contributions remitted for the claimant and other employment records.</li>
                            </ul>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="1">Payment on Final Retirement</span></div>
                        <div class="boddetails" id="bod-1" style="display: none;height:530px">
                            <p>En-Bloc Payment / Lump Sum Cash Only - Retiree will collect full retirement benefits provided he/she has attained the minimum age of 50 and the total amount available in his/her RSA is not more than N550,000.00.</p>
                            <p style="margin-top:15px">Lump Sum Cash and Monthly Pension – Retiree at minimum age of 50 and RSA balance over N550, 000.00 will be entitled to lump-sum cash and monthly pension. Monthly pension can be accessed by (a) Programmed Withdrawal Retirement Option (PFA Based) OR (b) Annuity Option (Life Insurance Company Based) – Please refer to a licensed Life Insurance Company for required documents.</p>
                            <p style="margin-top:15px">The documents required under (a) above are:</p>
                            <ul class="inTextList">
                                <li>A letter addressed to our MD/CEO requesting for payment of retirement benefit </li>
                                <li>Copy of notification of disengagement / resignation / retirement letter if initiated by the client</li>
                                <li>Copy of acceptance letter of disengagement / resignation / retirement by employer</li>
                                <li>Copy of letter of disengagement by employer, if disengagement is at the instance of the employer</li>
                                <li>A document confirming that the disengagement is in accordance with the terms and conditions of employment (if by retirement or contract)</li>
                                <li>FGN Bond registration slip – [for public sector retiree]</li>
                                <li>A recent pay slip (which must be within the last three months of disengagement) or evidence of total emolument (signed and stamped by the Head of Account of the last employer).</li>
                                <li>A copy of the birth certificate or age declaration.</li>
                                <li>A copy of Bankers Confirmation of Account Details or photocopy of Cheque Leaf or Savings Withdrawal Passbook</li>
                                <li>Clearance letter (Lagos State Retiree Only)</li>
                                <li>Duly completed NLPC PFA forms (Notice of Retirement Form, Bank Account Form, Pensioners’ Life Certificate Form, Retiree’s Indemnity Form and Programmed Withdrawal Agreement (PWA)- 2 copies ( PWA not required for En-bloc payment and Annuity).</li>

                            </ul>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="2">Payment on Health Groundt</span></div>
                        <div class="boddetails" id="bod-2" style="display: none;height:530px">
                            <p>The Act allows payment on health ground where a person retires due to ill health or disability whether physically, mentally, temporarily or permanently.</p>
                            <p style="margin-top:15px">The employer and qualified medical doctor or medical board must confirm the ill health or ‘disability’ and certify that the person is no longer fit to work. Benefit may be En-bloc (One Off) or Lump-sum plus monthly pension depending on the amount in the RSA at the date of retirement.</p>
                            <p style="margin-top:15px">The required documents are:</p>
                            <ul class="inTextList">
                                <li>A letter addressed to our MD/CEO requesting for payment by the retiree on health ground</li>
                                <li>Certified True Copy of medical certificate issued by a medical doctor or medical board confirming the health status of the employee </li>
                                <li>A letter from the employer confirming the health and retirement of the employee on basis of ill health and disability</li>
                                <li>FGN Bond registration slip – [for public sector retiree]</li>
                                <li>A recent pay slip (which must be within the last three months of disengagement) or evidence of total emolument (signed and stamped by the by the Head of Accounts) of the last employer.</li>
                                <li>A copy of the birth certificate or age declaration.</li>
                                <li>A copy of Bankers Confirmation of Account Details or photocopy of Cheque Leaf or Savings Withdrawal Passbook</li>
                                <li>A grant of special guardian issued by the High Court of Justice where the RSA holder is incapacitated and not able to run a bank account</li>
                                <li>Duly completed NLPC PFA forms (Notice of Retirement Form, Bank Account Form, Pensioners’ Life Certificate Form, Retiree’s Indemnity Form and Programmed Withdrawal Agreement (PWA) - 2 copies ( PWA not required for En-bloc payment and Annuity)</li>
                                <li>Please note that a letter would be forwarded to your employer to confirm the total contributions remitted for the claimant (Private sector only).</li>

                            </ul>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="8">Payment for Missing/Deceased Person</span></div>
                        <div class="boddetails" id="bod-8" style="display: none;height:470px">
                            <p>A person is presumed dead if not found in one year from the date of disappearance.</p>
                            <p style="margin-top:15px">For an RSA holder, only the beneficiary (confirmed by a Will or Letter of Administration) and not the Next of Kin shall be entitled to all the benefits of a deceased employee or retiree.</p>
                            <p style="margin-top:15px">
                                For benefits procured by employer from compulsory Group Life Assurance Scheme (GLAS), the Act requires that proceeds from the GLAS be paid by the Insurer or Employer (in the absence of a valid Group Life Policy) directly to named beneficiary.</p>
                                <ul class="inTextList">
                                    <li>Will or letter of Administration admitted to probate</li>
                                    <li>Medical Certificate of Death / Cause of Death</li>
                                    <li>Certificate of Registration of Death</li>
                                    <li>Police Report (if death is as a result of accident)</li>
                                    <li>Burial Warrant issued by a Local Government Council</li>
                                    <li>Evidence of Death / Burial issued by an Islamic Community Head, Judge of a Sharia Court</li>
                                    <li>Evidence of Death / Burial issued by a Leader of a registered Church</li>
                                    <li>Copy of Obituary poster (if any)</li>
                                    <li>Where the Executor / Administrator differs from the Next-of-Kin, we shall after confirmation of the letter of Administration or will admitted to probate, update its database with information on the confirmed Executor/Administrator.</li>
                                    <li>Duly completed original copy of NLPC PFA (Dead/Missing Person Form, Personal Data Update Form and Bank Account Form)</li>
                                </ul>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="6">Payment of Pre-Act Benefits</span></div>
                        <div class="boddetails" id="bod-6" style="display: none;height:270px">
                            <p><strong>Legacy:</strong> Existing pension benefit prior to the commencement of the CPS transferred into the Retirement Savings Accounts. Upon retirement or leaving employment, the employee may apply for the payment of Legacy transfer. </p>
                            <p style="margin-top:15px"><strong>NPF/NSITF Contributions:</strong> Pension contributions for employees in the private sector under the defunct National Provident Fund (NPF) and Nigeria Social Insurance Trust Fund (NSITF). A contributor under the scheme(s) should apply for the transfer of his/her contributions to be credited into the RSA. </p>
                            <p style="margin-top:15px">The required documents for Pre-Act Benefits if not form part of other payment types are:</p>
                            <ul class="inTextList">
                                <li>A letter addressed to our MD/CEO requesting for payment of Legacy or NPF/NSITF (as the case may be)</li>
                                <li>Copy of disengagement letter from the client</li>
                                <li>A copy of birth certificate or age declaration</li>
                                <li>Bankers Confirmation of Account Details or photocopy of Cheque Leaf or Savings Withdrawal Passbook</li>
                                <li>Duly completed NLPC PFA Personal Data Update Form and Bank Account Form</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>










            <br />

        </div>
    </div>
</div>

