@{
    ViewBag.Title = "pension";
    
}



<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Corporate Pensions</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <div class="leftbox">
                <div align="left" style="margin: 30px 0 15px 0;">
                    <div align="left" style="margin: 0 0 20px 0;">
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="4">Contributory Pension Scheme (CPS)</span></div>
                        <div class="boddetails" id="bod-4" style="display: block;height:190px">
                            <p>The Pension Reform Act empowers the employee to choose his/her Pension Fund Administrator (PFA), open and maintain a Retirement Savings Account (RSA).</p>
                            <p style="margin-top:15px">Monthly Contributions (which should not be less than 18% of employee’s Basic, Housing and Transportation) from employees and employers are transferred into individual RSAs for effective management by the PFA. The RSA can be transferred once a year if the employee is dissatisfied with the services of the existing PFA. This is however subject to the Transfer Window Guidelines and approval by National Pension Commission - PenCom. Employees’ access to the contributions in the RSA is as prescribed under the Law. <a href="~/cps">Click here for provisions of the CPS</a></p>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="6">Defined Benefit Scheme (DBS)</span></div>
                        <div class="boddetails" id="bod-6" style="display: none;height:140px">
                            <p>A scheme that existed prior to the commencement of the Contributory Pension Scheme; which promises to pay out an income based on how much an employee earns at retirement. </p>
                            <p style="margin-top:15px">The benefit under the scheme is defined in terms of parameters (length of service, vesting scale right etc) to be used in calculating the benefit payable at retirement. Most DBS are funded by employers. The Pension Reform Act 2014 requires that all DBS be transferred to Pension Fund Administrators.</p>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="1">Additional Voluntary Contributions (AVC)</span></div>
                        <div class="boddetails" id="bod-1" style="display: none;height:230px">
                            <p>As the term implies, AVC allows RSA holders to make extra savings toward retirement.</p>
                            <p style="margin-top:15px">In line with the Pension Reform Act, we encourage our clients to engage in the AVC scheme in order to enhance their living standard at retirement or plan for a future project.</p>
                            <ul class="inTextList">
                                <li>An existing Retirement Savings Account is a prerequisite for AVC</li>
                                <li>It  attracts the same return on investment as your CPS</li>
                                <li>RSA holder determines how much to contribute to AVC</li>
                                <li>The contributions must come through your employer</li>
                                <li>AVC is accessible any time but the return element on the contributions will be taxed if withdrawal is before five years from date of contribution</li>
                            </ul>
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="2">Gratuity Scheme (GS)</span></div>
                        <div class="boddetails" id="bod-2" style="display: none;height:170px">
                            <p>This is a lump sum retirement benefit provided by the employer to reward qualified employees for their meritorious service.</p>
                            <p style="margin-top:15px">Though, not a compulsory scheme under the Pension Reform Act 2014, employer is not prevented from establishing a Gratuity Scheme in addition to the mandatory Contributory Pension Scheme (CPS) or DBS as the case may be. At NLPC PFA, we assist organizations, desirous of operating gratuity schemes to ensure smooth and effective administration of the scheme for mutual benefit of workers and employers.</p>
                            <br />
                        </div>
                        <div class="head4"><strong>&nbsp;</strong><span class="lcurve" id="8">Programmed Withdrawal Retirement Option (PWRO)</span></div>
                        <div class="boddetails" id="bod-8" style="display: none;height:200px">
                            <h3 class="panel-title" style="margin-top:15px"></h3>
                            <p style="margin-top:15px">There are two main retirement options open to a retiree to collect his monthly pensions:</p>
                            <ul class="inTextList">
                                <li>Programmed withdrawal – Operated by Pension Fund Administrators</li>
                                <li>Annuity – Operated by Life Insurance Companies [click <a href="~/Downloadables/ANNUITY_GUIDELINES.pdf" target="_blank">here</a> for the guidelines]</li>
                            </ul>
                            <p>A retiree on Programmed Withdrawal may transfer his/her retirement benefit to another PFA if not satisfied with the existing PFA or move to Annuity Option. However, a retiree on Annuity Option is not allowed to move to Programmed Withdrawal, albeit the client has the right to choose the preferred option after he/she has been properly educated. While the Annuity option is handled by licensed and approved Life Insurance Companies, the Programmed Withdrawal Retirement Option is managed by Pension Fund Administrators like NLPC PFA. [Click <a href="~/progwith">here</a> for more information on PWRO]</p>
                        </div>

                    </div>
                </div>

            </div>






            <br />

            <br />
        </div>
    </div>
</div>

