@{
    ViewBag.Title = "progwith";
 
}



<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Features of Programmed Withdrawal (PW)</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <ul class="inTextList">
                <li>PW is s a product offered by PFAs regulated by PENCOM</li>
                <li>Pension is paid over an expected lifespan and until the RSA balance is exhausted.</li>
                <li>Upon the death of the retiree, the beneficiary as prescribed by a Will or Letter of Administration is paid the balance in the deceased’s Retirement Savings Account, enbloc</li>
                <li>Pension payment can be monthly or quarterly</li>
                <li>Quarterly Retirement Savings Account statements are sent to retiree and may be sent electronically on retiree’s request</li>
                <li>A retiree on PW can opt for Annuity contract at any time</li>
                <li>A retiree on PW can transfer to another PFA when Transfer Window opens subject to PENCOM guidelines on Retirement Savings Account transfer</li>
            </ul>
        </div>
    </div>
</div>

