@{
    ViewBag.Title = "responsibilities";
   
}





<div class="panel panel-success" style="width: 100%; height: 100%; float: left; margin-left: 6px;">
    <div class="panel-heading">
        <h3 class="panel-title">Employees' and Employers' Responsibilities</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" style="width: 100%; float: left; margin-bottom: 0px; padding: 5px">
            <p style="font-size:20px"><strong>Employee</strong></p>
            <p><strong>1. Opening of Retirement Savings Account</strong></p>
            <p style="margin-left:10px">i. It is the responsibility of the employee to open the RSA with PFA of his choice</p>

            <p style="margin-top:15px"><strong>2. Provide and Protect Information</strong></p>
            <p style="margin-left:10px">i. Provide relevant and correct data during registration</p>
            <p style="margin-left:10px">ii. Keeping and Protecting PIN,Username and Password to avoid compromising account status</p>

            <p style="margin-top:15px"><strong>3. Information Update</strong></p>
            <p style="margin-left:10px">i. To review such data as situation demands e.g. marriage, change of Next of Kin (NOK), loss or change of telephone number etc.</p>
            <p style="margin-left:10px">ii. To monitor his/her RSA and ensure that the contributions are up to date.</p>

            <p style="font-size:20px; margin-top:25px"><strong>Employer</strong></p>
            <p><strong>1. Employees' Registration</strong></p>
            <p style="margin-left:10px">i. It is the responsibility of the employee to open the RSA with PFA of his choice</p>

            <p style="margin-top:15px"><strong>2. Remitance of Monthly Contributions</strong></p>
            <p style="margin-left:10px">i. Ensure monthly contributions (employee and employer) are remitted to the Pension Fund Custodian of the PFA within 7 days after payment of salary</p>
            <p style="margin-left:10px">ii. Account and remittances should be closely monitored for prompt reconciliation and update</p>

            <p style="margin-top:15px"><strong>3. Liasing with PFA Account Officer</strong></p>
            <p style="margin-left:10px">i. The employer should liaise with the account officers regularly to keep abreast of industry practice.</p>

            <p style="margin-top:15px"><strong>4. Secure Life Assurance Policy</strong></p>
            <p style="margin-left:10px">i. Secure a Group Life Assurance Scheme to compensate the family of an employee who may die while in active service. The death benefits is minimum of three (3) times Annual Total Emoluments (Basic, Housing and Transportation), and the benefit must be paid into the deceased RSA before disbursement to the beneficiary.</p>
        </div>
    </div>
</div>

